@import '../../styles/variables.scss';
@import '../../styles/form.scss';

.input-container {
  position: relative;
}

.button-img {
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
